body {
  margin:0;
  padding:0;
}
.rmic {
  position: relative;
  display: flex;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  padding:0;
  margin:0;
  > * {
    width: 100%;
  }

  li {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid #fff;
    > * {
        position: relative;
    }
    &:first-child {
      position: relative;
    }
    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      font-size: 15px;
      position: absolute;
      top: 15px;
      left: 0;
      color: #fff;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      transition: opacity 0.3s ease-in-out;
      z-index: 200;
    }
  }
}

.handle {
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  background-position: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNTEuMjQ3IDI1MS4yNDciIHZpZXdCb3g9IjAgMCAyNTEuMjQ3IDI1MS4yNDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTI0OC42MTEgMTE5LjI1OS01MS4wMDUtNTEuMDA1Yy0zLjUxNi0zLjUxNS05LjIxMy0zLjUxNS0xMi43MjkgMC0zLjUxNSAzLjUxNS0zLjUxNSA5LjIxMyAwIDEyLjcyOGwzNS42NDIgMzUuNjQxaC0xODkuNzkxbDM1LjY0Mi0zNS42NDFjMy41MTUtMy41MTUgMy41MTUtOS4yMTMgMC0xMi43MjgtMy41MTYtMy41MTUtOS4yMTMtMy41MTUtMTIuNzI5IDBsLTUxLjAwNSA1MS4wMDVjLTMuNTE1IDMuNTE1LTMuNTE1IDkuMjEzIDAgMTIuNzI4bDUxLjAwNSA1MS4wMDVjMS43NTggMS43NTcgNC4wNjEgMi42MzYgNi4zNjQgMi42MzZzNC42MDYtLjg3OSA2LjM2NC0yLjYzNmMzLjUxNS0zLjUxNSAzLjUxNS05LjIxMyAwLTEyLjcyOGwtMzUuNjQyLTM1LjY0MWgxODkuNzkxbC0zNS42NDIgMzUuNjQxYy0zLjUxNSAzLjUxNS0zLjUxNSA5LjIxMyAwIDEyLjcyOCAxLjc1OCAxLjc1NyA0LjA2MSAyLjYzNiA2LjM2NCAyLjYzNnM0LjYwNi0uODc5IDYuMzY0LTIuNjM2bDUxLjAwNS01MS4wMDVjMy41MTYtMy41MTUgMy41MTYtOS4yMTMuMDAyLTEyLjcyOHoiLz48L3N2Zz4=");
  top: 50%;
  cursor: ew-resize;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}